.background{
    background-color: rgb(243, 189, 241);
    height:100vh;
    width:100%;
    background-size: cover;
}
.Header {
    font-family: "Roboto";
    color: black;
    margin-bottom: 20px;
    font-style: italic;
}
.card{
    background-color: rgb(198, 112, 215) !important;
    border-radius: 16px;
    border-color: black;
    text-align: center;
    padding: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(87, 84, 84, 0.1);
    font-family: "Roboto";
    color: rgb(19, 27, 4);
} 